:root {
  --text: #000;
  --bg: #fff;}
body {
  font-family: sans-serif; line-height: 125%;
  background-color: var(--bg);
  color: var(--text);
  padding: 1%;
  max-width: 800px;} 
a {color: inherit;}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --bg: #000;}