:root {
  --text: #000;
  --bg: #fff;}
body {
  font-family: sans-serif;
  line-height: 22px;
  background-color: var(--bg);
  color: var(--text);
  padding: 0 2%;
  max-width: 800px;} 
a {color: inherit;}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #f8f8ff;
    --bg: #000;}